NODE_ENV=development
PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/gteorder
DB_SSL=false
REDIS_URL=redis://localhost:6379
DB_SYNC=true

JWT_ACCESS_SECRET=e21fcbbcb4a3de89588dfbd750cb578008a830d97b3702d6c7cddf53031e937b
JWT_REFRESH_SECRET=9d9a799823e7f615607d786001fbfac633321066fb94712f28dcd219c7e4803e
JWT_DEVICE_SECRET=56064b8a0bed46c5a0e7ad118759b8ccd7862c68ec625125397900bb4ee6cf37
ACCESS_TOKEN_TTL=900
REFRESH_TOKEN_TTL=1209600
DEVICE_TOKEN_TTL=5184000
RATE_LIMIT_DISABLED=true

OTP_EMAIL_FROM=no-reply@sclabel.io
SMTP_HOST=mail.privateemail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=admin@sclabel.io
SMTP_PASS="Gt3123!@#"

# Telegram pending order report
TELEGRAM_BOT_TOKEN=8692102602:AAEXspDwsTq1ONdHwTvR6fvl8gUrhO95U58
TELEGRAM_CHAT_ID=-1003872465148
TELEGRAM_TOPIC_ID=3
TELEGRAM_GROUP_TITLE=Sclabel.io
TELEGRAM_CRON=0 21 * * *
TELEGRAM_RUN_ON_START=false

BYEASTSIDE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjM4LCJ1c2VybmFtZSI6IlRvbW8gU2NhbiIsInJvbGUiOiJDVVNUT01FUiIsInN0YXR1cyI6IkFDVElWRSIsImlhdCI6MTc3MDcxMDQ3NCwiZXhwIjoyMDg2MDcwNDc0fQ.1VtPaxkTk-RQuXGpEUG2XcPo4L5RtBW75fDRKocEa8s
BYEASTSIDE_API_BASE=https://byeastside.uk/api/customer/pdfs
BYEASTSIDE_LABELS_BASE=https://api-label-scan.aletech.co/api/customer/pdfs
